<?xml version="1.0"?>
<launch>

<include file="$(find mybot_control)/launch/navsat.launch">
</include>




<arg name="enable_ekf" default="$(optenv ENABLE_EKF true)"/>
    <group if="$(arg enable_ekf)" >

        <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_local">
            <rosparam command="load" file="$(find mybot_control)/config/ekf_localization.yaml" />
            <remap from="odometry/filtered" to="odometry/filtered_local"/>

        </node>

        <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_global">
            <rosparam command="load" file="$(find mybot_control)/config/ekf_localization_map.yaml" />
            <remap from="odometry/filtered" to="odometry/filtered_global"/>
        </node>
      
   
    </group>
</launch>