<?xml version="1.0"?>
<launch>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find mybot_description)/urdf/mybot.xacro'"/>



  <!-- Combine joint values 
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
-->
  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find asr_mild_navigation)rsc/rviz_configurations/nav_mild.rviz"/>


</launch>
